#summary {
	font-size: 32px
}
#message {
	padding-bottom: 20px;
}
.form-group {text-align: center;}
.form-control {
	width: 200px;
	margin: 0 auto;
}
#more-info-btn {
}

#more-info-btn, #more-info {
	display: none;
}

#more-info {
	margin-top: 20px;
}

.footer {
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  background-color: #333;
}