body {
  background:url(../img/clouds.jpg) no-repeat top center;
  background-color: #222;
}

#summary {
	font-size: 32px
}
#message {
	padding-bottom: 20px;
}
.form-group {text-align: center;}
.form-control {
	width: 200px;
	margin: 0 auto;
}
#more-info-btn {
}

#more-info-btn, #more-info, .progress {
	display: none;
}

#more-info {	
	margin-top: 20px;
}

.footer {
  /*height: 30px;*/
  padding-bottom: 40px;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  /*background-color: #333;*/
}

.text-warning {
	color: #eef948;
}

.text-success {
	color: #47f770;
}

.text-danger {
	color: #f44646;
}